* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(71, 68, 68);

}
hr {
  border-top: 3px double #8c8b8b;
}
h1 {
  margin: 0;
  padding-top: 20px;

}

#judul-bahan {
  color: white
}

.cata {
  background-color: rgba(209, 155, 6, 0.8);
  color: rgb(71, 68, 68);
  height: 80px;
}
.box1 {
  background-color: #E9E5D6;
  display: flex;
  justify-content: space-around;
}

.box2 {
  background-color: #ACB992;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

#bahan label{
  margin: 0.2rem;
  /* border: 1px solid red; */
}

#model{
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: rgba(209, 155, 6, 0.8);
  border: 1px solid rgb(71, 68, 68);
}

#model label {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  
}

#model h3 {
  display: flex;
  justify-content: center;
}

#size {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: rgba(209, 155, 6, 0.8);
  border: 1px solid rgb(71, 68, 68);
  
}

#size h3 {
  display: flex;
  justify-content: center;
}

#size label {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  
  
}

#bahan {
  display: flex;
}


 #bahan img {
   width: 100px;
   height: auto;
 }

 #tombol-pilih {
  padding: 4px 10px;
  background-color: rgba(209, 155, 6, 1);
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease 0s;
  margin: 1rem;
  
  
}

#tombol-pilih:hover {
  background-color: rgba(209, 155, 6, 0.8);
}

#tombol-lanjut {
  padding: 4px 10px;
  background-color: rgba(209, 155, 6, 1);
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease 0s;
  margin: 1rem;
  
  
}

#tombol-lanjut:hover {
  background-color: rgba(209, 155, 6, 0.8);
}

