@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Space+Mono&display=swap');
/* #24252a */
/* Base Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(71, 68, 68);
}

/* End of Base reset */

/* Start of Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* border: 1px solid yellow; */
    position: fixed;
    width: 100%
    
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}


.logo {
    cursor: pointer;
    width: 160px;
    height: auto;
    /* border: 1px solid black; */
}

.nav-links {
    list-style: none;
    display: flex;
    /* border : 1px solid red */
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /* border : 1px solid red; */
    
}

.nav-links li a {
    transition: 0.3s ease 0s;
    
}

.nav-links li a:hover {
    color: rgb(209, 155, 6);
}

.cart-button img {
    width: 40px;
    background-color: rgba(209, 155, 6, 1);
    border-radius: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    /* height: auto;
    margin-left: 250px; */
}

.cart-button:hover img {
    background-color: rgba(209, 155, 6, 0.8);
}

button {
    padding: 9px 25px;
    background-color: rgba(209, 155, 6, 1);
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease 0s;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: rgba(209, 155, 6, 0.8);
}

/* End of header */

/* start of jumbotron */

.jumbotron {
    display : grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr ;
    border : 1px solid blue;
    margin: 0px auto;
    
}

/* end of jumbotron */
.catalogue {
    display : grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr ;
    border : 1px solid blue;
    margin: 0px auto;
    
}

#catalogue p {
    display :flex;
    justify-content: center;
    font-size: 3em
}

#contact-us p {
    display :flex;
    justify-content: center;
    font-size: 3em
}

.contact-link {
    display: flex;
    justify-content: space-around;
}

.credit {
    font-size: 1px;
}